*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tabuada{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid;
    padding: 20px;
    gap: 5px;
}
.tabuada input{
    outline: 0;

}
.tabuada input:focus{
    border: 1px solid rgb(7, 153, 15) 
}
.tabuada input::-webkit-inner-spin-button{
    display: none;
}